section{
    .card{
        padding:1rem;
        border-radius:8px;
        border:1px solid gray;
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        -ms-border-radius:8px;
        -o-border-radius:8px;
        background-color: rgb(107, 107, 58);
    }
}  
